{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
	{# Create a useful, SEO-friendly title tag based on what we have #}
	{% if data.piece %}
		{{ data.piece.title }} | Apos Test App
	{% elseif data.page %}
		{{ data.page.title }} | Apos Test App
	{% else %}
		{{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
	{% endif %}
{% endblock %}

{% block startHead %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}


{% block extraHead %}
	{% if data.piece %}
	{% if data.piece.seoTitle %}
		{% set title = data.piece.seoTitle %}
	{% else %}
		{% set title = data.piece.title %}
	{% endif %}
	{% else %}
	{% if data.page.seoTitle %}
		{% set title = data.page.seoTitle %}
	{% else %}
		{% set title = data.page.title %}
	{% endif %}
	{% endif %}
 
	{% include "apostrophe-seo:view.html" %}
{% endblock %}

{% block beforeMain %}
	<header>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">
        <img src="./images/logo.svg" alt="logo" />
      </a> 

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          {% for tab in data.home._children %}

            <li class="nav-item dropdown {% if data.page and (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id) %}active{% endif %}">
              <a class="nav-link {% if tab._children.length %}dropdown-toggle{% endif %}" href="{{ tab._url }}" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                {{ tab.title }} 
                {% if data.page and (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id) %}
                  <span class="sr-only">(current)</span>
                {% endif %}
              </a>
              {% if tab._children.length %}
                <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                  {% for child in tab._children %}
                    <li class="dropdown-submenu">
                      <a class="dropdown-item {% if child._children.length %}dropdown-toggle{% endif %}"  aria-haspopup="true" aria-expanded="false" href="{{ child._url }}">{{ child.title }}</a>
                      {% if child._children.length %}
                        <ul class="dropdown-menu bg-dark">
                          {% for subchild in child._children %}
                            <li><a class="dropdown-item" href="{{ subchild._url }}">{{ subchild.title }}</a></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>

          {% endfor %}

        </ul>
      </div>

      <div class="navbar__btn-container d-none d-lg-block">
        <a class="btn-standard btn-secondary">Let's talk</a>
      </div>
    </nav>
	</header>
{% endblock %}

{% block main %}
	
{% endblock %}

{% block afterMain %}
		
{% endblock %}
